{% extends 'base.html.twig' %}

{% block title %}Editar Cliente{% endblock %}

{% block body %}
    <h1>Editar cliente</h1>
    <div class='card mt-4'>
        <div class='card-body'>
            {{ form_start(form) }}
                {{ form_row(form.nome, {
                    label: 'Nome completo:'
                })}}
                {{ form_row(form.genero, {
                    label: 'Gênero:'
                })}}
                {{ form_row(form.dataNasc, {
                    label: 'Data de nascimento:'
                })}}
                {{ form_row(form.cpf, {
                    label: 'CPF:'
                })}}
                {{ form_row(form.telefone, {
                    label: 'Número de telefone:'
                })}}
                {{ form_row(form.notif_whats, {
                    label: false
                })}}
                {{ form_row(form.email, {
                    label: 'E-mail'
                })}}
                {{ form_row(form.emails_promocionais, {
                    label: false
                })}}
                {{ form_row(form.senha, {
                    label: 'Senha:'
                })}}
                {{ form_row(form.save) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}